/* NAVEGACIÓN
**************/

header .navbar {
    background-color: #FAFAF4;
    height          : 148px;
    font-weight     : 700;
    font-size       : 1.25rem;
    padding         : 0 80px;
}

.navbar-nav.nav-header {
    background-color: #FAFAF4;
}

.navbar-light .navbar-toggler {
    color: #41464D;
}

.navbar-light .navbar-nav .nav-link {
    color: #41464D;

    &:hover {
        color: #F1B9A8;
    }
}


@media (max-width: 479px) {
    header .navbar {
        padding: 0 20px;
    }

    .nav-item {
        padding: 5px 30px;
    }
}

@media (min-width: 480px) and (max-width: 575px) {
    .nav-item {
        padding: 5px 30px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .nav-item {
        padding: 5px 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .nav-item {
        padding: 5px 30px;
    }
}